<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="js/libs/notiflix-3.2.7.min.css">
    <script src="/js/libs/notiflix-3.2.7.min.js"></script>
    <!-- <script src="/js/libs/notiflix.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

    <%-body%>

</body>
</html>