

    <section id="settings-links">
    <ul>
        <li>
            <a href="/dashboard/offices">
                <i class='bx bx-cog' ></i>
                <span class="links_name">ABM Offices</span>
            </a>
        </li>
        <li>
            <a href="/dashboard/paymentmethods">
                <i class='bx bx-cog' ></i>
                <span class="links_name">ABM Payment Methods</span>
            </a>
        </li>
        <li>
            <a href="/dashboard/paymentstatus">
                <i class='bx bx-cog' ></i>
                <span class="links_name">ABM Payment Status</span>
            </a>
        </li>
        <li>
            <a href="/dashboard/orderstatus">
                <i class='bx bx-cog' ></i>
                <span class="links_name">ABM Order Status</span>
            </a>
        </li>
        <li>
            <a href="/dashboard/productlines">
                <i class='bx bx-cog' ></i>
                <span class="links_name">ABM Product Lines</span>
            </a>
        </li>
        <li>
            <a href="/dashboard/users">
                <i class='bx bx-cog' ></i>
                <span class="links_name">ABM Users</span>
            </a>
        </li>
        <li>
            <a href="/dashboard/maintenance">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Maintenance</span>
            </a>
        </li>
    </ul>
</section>
